// Define variables for your color scheme

// For example:


$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;

// Currently using
$light-gray: #343a40;
$blue: #05A4C3;
$white: #fff;
$light-blue: #05a4c30f;

$light-red: #f783ac17;
$red: #F783AC;
