<nav class="navbar">
  <div class="container flex-column mb-4">
    <div class="filter-bar all-categories justify-content-between">
      <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search" class="navbar-text filter-active">All Categories</a>
      <% @categories.each do |category| %>
        <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search" class="navbar-text"><%= category.description %></a>
      <% end %>
    </div>

    <div class="filter-bar all-age">
      <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search" class="navbar-text filter-active">All Sizes</a>
      <% @age_groups.each do |size| %>
        <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search"class="navbar-text"><%= size %></a>
      <% end %>
    </div>

    <div class="filter-bar all-conditions">
      <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search" class="navbar-text filter-active">All Conditions</a>
      <% @condition_groups.each do |condition| %>
        <a href="http://localhost:3000/products?utf8=%E2%9C%93&query=&commit=Search " class="navbar-text"><%= condition %></a>
      <% end %>
    </div>
  </div>
</nav>
