<nav class="navbar navbar-light">
  <div class="container">
    <div class="footer-mail">
      <a href="" class="navbar-text">customer@baybe.store</a>

    </div>

    <div class="footer-social-medias">
      <a href="" class="footer-social-medias-icons">
        Facebook
      </a>

      <a href="" class="footer-social-medias-icons">
        Twitter
      </a>

      <a href="" class="footer-social-medias-icons">
        Instagram
      </a>

    </div>

    <div class="footer-policies">
      <p class="navbar-text">Policies</p>

    </div>
  </div>
</nav>
