<nav class="navbar footer">
    <div class="footer-mail">
      <div class='text-center'>
      <a href="" class="navbar-text">© 2019 JB Baybe Studios </a>
      <a href = "mailto: customer@baybe.store" class="navbar-text">customer@baybe.store</a>
      <a href="" class="footer-social-medias-icons">facebook</a>
      <a href="" class="footer-social-medias-icons">instagram</a>
      <a href="" class="navbar-text">policies</a>
      </div>
    </div>
  </div>
</nav>
