<div class="baybecontainer">
  <h1 class="">People also Bought ....</h1>
  <div class="cards-grid">
    <% @rel_products.each do |product| %>
    <a href="<%= product_path(product) %>">
      <div class="baybe-card">
        <%= cl_image_tag product.photo %>
        <p><%= product.brand%></p>
      </div>
    </a>
    <% end %>
  </div>
</div>
