<div class="form-inline">
  <%= form_tag sell_products_path, method: :get, class:
    "search-form-control form-group" do %>
  <%= text_field_tag :query,
  params[:query],
  class: "form-control string required searchbar",
    size: "40",
    style: "border:none;border-radius: 0;",
    placeholder: "Search for something to sell"
    %>
    <%= button_tag(type: "submit", class: "buttonPrimarySearch") do %>
      <i class="fas fa-search"></i>
      <% end %>
  <% end %>
</div>
