<nav class="navbar">
  <div class="container flex-column mb-4">
    <div class="filter-bar all-categories justify-content-between">
      <%= link_to "All Categories",
          sell_products_path,
          class: "navbar-text filter-active-cat" %>
      <% @categories.each do |category| %>
        <%= link_to category.description,
            filt_cat_path(query: params[:query], cat: category.description),
            class: "navbar-text",
            id: category.description,
            remote: true  %>
      <% end %>
    </div>
  </div>
</nav>
