
<div class="web-description">
  <div>
    <i class="fas fa-box-open"></i>
    <p>WE BUY YOUR PRODUCTS</p>
  </div>
  <div>
    <i class="fas fa-medal"></i>
    <p>WE REFUBRISH THEM</p>
  </div>
  <div>
    <i class="fas fa-hand-holding-usd"></i>
    <p>YOU EARN MONEY</p>
  </div>
</div>

