<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>I AM HERE</h1>


<br>
<br>
<br>
<div class="container">
  <!-- <button type="button" class="btn btn-primary">Primary</button> -->
  <button type="button" class="buttonPrimary wide">Primary Baybe</button>

  <br>
  <br>
  <div class="cards">
    <div class="baybe-card">
      <img src="https://productimages.hepsiburada.net/s/21/280-413/9941793505330.jpg" alt="...">
      <p >Card title</p>
    </div>
    <br>
    <br>
    <br>
    <div class="baybe-card baybe-price-card">
      <p>195 - 245 €</p>
      <img src="https://productimages.hepsiburada.net/s/21/280-413/9941793505330.jpg" alt="...">
      <p>Baby Trend TS27760</p>
    </div>
    <br>
    <br>
    <br>
    <div class="baybe-card baybe-carousel-card">
      <a class="carousel-next">
        <i class="fas fa-chevron-right"></i>
      </a>

      <a class="carousel-prev">
        <i class="fas fa-chevron-left"></i>
      </a>

      <div>
        <img src="https://productimages.hepsiburada.net/s/21/280-413/9941793505330.jpg" alt="...">
        <p>Baby Trend TS27760</p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="baybe-list-card">
      <img src="https://productimages.hepsiburada.net/s/21/280-413/9941793505330.jpg" alt="...">
      <p >Card title</p>
      <a href=""><i class="far fa-trash-alt"></i> 245</a>
    </div>
  </div>
</div>

  <br>
  <br>
  <br>
