<h1>I AM HERE</h1>


<!-- CATEGORIES MENU -->
<div class="container">
  <div class="row justify-content-center">
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
  </div>
</div>
<!-- --------------- -->

<!-- PRODUCTS CARDS -->
<div class="row justify-content-center">
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
</div>
<!-- --------------- -->

<!-- PRODUCT CAROUSEL -->
<div class="baybe-card baybe-carousel-card">
  <i class="fas fa-chevron-right"></i>
  <i class="fas fa-chevron-left"></i>
  <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
  <p class="fixed-brand">Baby Trend TS27760</p>
</div>
<!-- --------------- -->

<!-- PRODUCT LIST CARD -->
  <div class="container">
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
  </div>
<!-- --------------- -->

<br>
<br>
<br>
<div class="container">
  <!-- <button type="button" class="btn btn-primary">Primary</button> -->
  <button type="button" class="buttonPrimary wide">Primary Baybe</button>

  <br>
  <br>
  <div class="cards">
    <br>
    <br>
    <br>
    <div class="baybe-card baybe-price-card">
      <p>195 - 245 €</p>
      <img src="https://productimages.hepsiburada.net/s/21/280-413/9941793505330.jpg" alt="...">
      <p>Baby Trend TS27760</p>
    </div>
    <br>
    <br>
    <br>
    <div class="baybe-card baybe-carousel-card">
      <a class="carousel-next">
        <i class="fas fa-chevron-right"></i>
      </a>

      <a class="carousel-prev">
        <i class="fas fa-chevron-left"></i>
      </a>

      <div>
        <img src="https://productimages.hepsiburada.net/s/21/280-413/9941793505330.jpg" alt="...">
        <p>Baby Trend TS27760</p>
      </div>
    </div>
    <br>
    <br>
    <br>
    <div class="baybe-list-card">
      <div class="baybe-list">
      <img class="baybe-card" src="https://productimages.hepsiburada.net/s/21/280-413/9941793505330.jpg" alt="...">
        <p >Card title</p>
      </div>
      <div class="delete-price">
        <a href=""><i class="far fa-trash-alt"></i></a>
        <p>254 EUR</p>
      </div>
    </div>
  </div>
</div>

  <br>
  <br>
  <br>
