<div class="container">
  <!-- PRIMARY BUTTON -->
  <div>
    <button type="button" class="buttonPrimary">Primary Baybe</button>
  </div>
  <!-- -------------- -->
  <br>
  <!-- GHOST BUTTON -->
  <div>
    <button type="button" class="ghostPrimary">Ghost Baybe</button>
  </div>
  <!-- -------------- -->
</div>

<!-- CATEGORIES MENU -->
<div class="container">
  <div class="row justify-content-center">
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
    <div class="baybe-card">
      <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
      <p >Strollers</p>
    </div>
  </div>
</div>
<!-- --------------- -->

<!-- PRODUCTS CARDS -->
<div class="row justify-content-center">
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
  <div class="baybe-card baybe-price-card m-3">
    <p class="fixed-price">195 - 245 €</p>
    <i class="fixed-fav far fa-heart"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend</p>
  </div>
</div>
<!-- --------------- -->

<!-- PRODUCT CAROUSEL -->
<div class="row justify-content-center">
  <div class="baybe-card baybe-carousel-card">
    <i class="fas fa-chevron-right"></i>
    <i class="fas fa-chevron-left"></i>
    <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
    <p class="fixed-brand">Baby Trend TS27760</p>
  </div>
</div>
<!-- --------------- -->

<!-- PRODUCT LIST CARD -->
  <div class="container">
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
    <div class="baybe-list-card">
        <div class="baybe-list">
          <img src="https://static2.mumzworld.com/media/catalog/product/cache/6/image/9df78eab33525d08d6e5fb8d27136e95/p/d/pdt-k6-4.jpg" alt="...">
          <p>Baby Trend TS27760</p>
        </div>
        <div class="baybe-list">
          <i class="far fa-trash-alt"></i>
          <p>254 EUR</p>
        </div>
    </div>
  </div>
<!-- --------------- -->
