<div class="sell-product">
  <%= render 'shared/product_info' , path: add_product_path(@product), text: "Add to box" %>
</div>
<!-- I KNOW SY, I'LL CHANGE IT LATER -->
<br>
<br>
<br><br>
<br>
<br>

<%= render 'shared/people_also_bought' %>


