.box-info-row {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 700;

  .box-info-title {
    display: flex;
  }
}

.delivery-info {
  margin-top: 4vh;
}
