.action-btn {
  display: flex;

  .ghostPrimary, .ghostPrimarySell {
    margin: 0 1rem 0 0;
  }
}

@media (max-width: 576px) {
  .action-btn {
    flex-direction: column;

    .ghostPrimary, .ghostPrimarySell {
      margin: 0 0 1rem 0;

    }
  }
}
