.herobanner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 45vh 58vw 0vh 6vw;
  background-image: url('https://res.cloudinary.com/syrashid/image/upload/v1566384176/25_04_19_kids_baby_epsp_hero_deisvg.jpg');
}

.baybe-diagram {
  height: 600px;
}
