.herobanner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 45vh 38vw 0vh 6vw;
  background-image: url('https://res.cloudinary.com/syrashid/image/upload/v1566384176/25_04_19_kids_baby_epsp_hero_deisvg.jpg');
}

.baybe-diagram {
  max-height: 600px;
  max-width: 600px;
  width: 100%;
}

@media only screen and (orientation: landscape) {
  .baybe-diagram {
    width: 100vh;
  }
}
