.buttonPrimary {
  color: $white;
  background-color: $blue;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  // WHY DO I NEED THIS?
  border: none;
}

.selling .buttonPrimary  {
  background-color: $red;
  color: $white !important;

}

.selling .options div {
  border: 1px solid $red;
}

button.stripe-button-el,
button.stripe-button-el>span {

  color: $white !important;
  background-color: $blue !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  background-image: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $blue !important;
  text-align: center;
  text-decoration: none;
  border: 0px;
  font-family: $body-font !important;
  box-shadow: none;
}


.buttonPrimary:hover {
  opacity: 0.7;
  transition: opacity 1s ease-out;
  text-decoration: none;
  color: $white;
}

.buttonPrimarySearch {
  color: $white;
  background-color: $blue;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
}

.buttonPrimarySearch:hover {
  opacity: 0.7;
  transition: opacity 1s ease-out;
}

.ghostPrimary {
  color: $blue;
  background-color: $white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  border: 1px solid $blue;
}

.ghostPrimary:hover {
  background-color: $blue;
  color: $white;
  transition: background-color 1s ease-out;
  text-decoration: none;
}

.ghostPrimarySell {
  color: $red;
  background-color: $white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  border: 1px solid $red;
}

.ghostPrimarySell:hover {
  background-color: $red;
  color: $white;
  text-decoration: none;
  transition: background-color 1s ease-out;
}

.form-control {
  height: inherit;
}

.primarybtn:hover {
  color: #343a40;
  text-decoration: underline;
}

.buttonSpan { width: 100%; }































