.buttonPrimary {
  background-color: $blue;
  border: none;
  color: $white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;

  &:hover {
    opacity: 0.7;
    transition: opacity 1s ease-out;
    text-decoration: none;
    color: $white;
  }
}

.selling {
  .buttonPrimary {
    background-color: $red;
    color: $white !important;
  }

  .options div {
    border: 1px solid $red;
  }
}

.buttonPrimarySearch {
  color: $white;
  background-color: $blue;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  padding: 5px 10px;
  border: none;

  &:hover {
    opacity: 0.7;
    transition: opacity 1s ease-out;
  }
}

.ghostPrimary {
  color: $blue;
  background-color: $white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  border: 1px solid $blue;

  &:hover {
    background-color: $blue;
    color: $white;
    transition: background-color 1s ease-out;
    text-decoration: none;
  }
}

.ghostPrimarySell {
  color: $red;
  background-color: $white;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  border: 1px solid $red;

  &:hover {
    background-color: $red;
    color: $white;
    text-decoration: none;
    transition: background-color 1s ease-out;
  }
}

// STRIPE BUTTON SETUP
button.stripe-button-el,
button.stripe-button-el>span {

  color: $white !important;
  background-color: $blue !important;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  padding: 15px;
  width: 100%;
  background-image: none;
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: $blue !important;
  text-align: center;
  text-decoration: none;
  border: 0px;
  font-family: $body-font !important;
  box-shadow: none;
}
// -------------

.form-control {
  height: inherit;
}

.primarybtn:hover {
  color: #343a40;
  text-decoration: underline;
}

.buttonBlock { display: block; }





























