.baybe-card {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);

  img {
    width: 250px;
    height: 250px;
    margin: 10px;
    object-fit: contain;
  }

  p {
    margin: 0px;
    text-transform: uppercase;
    opacity: 0.5;
  }
}


.baybe-price-card {
  width: 280px;
  height: 280px;

  img {
    width: 230px;
    height: 230px;
    margin: -5px;
  }

  p {
    margin-top: 5px;
    text-transform: none;
  }
}


.baybe-carousel-card {
  width: 608px;
  height: 608px;
  position: relative;

  img {
    width: 500px;
    height: 500px;
  }

  p {
    text-transform: none;
  }

  .carousel-prev {
    right: 47%;
  }

  .carousel-next {
    left: 47%;
  }

  .carousel-prev, .carousel-next {
    position: relative;
    top: 50%;
    z-index: 1;
    display: -webkit-box;
    color: red;
    opacity: .5;
    transition: opacity .15s ease;
  }

  .carousel-next:hover, .carousel-prev:hover {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: .9;
  }
}


.baybe-list-card {
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .baybe-list{

    img {
      width: 111px;
      height: 111px;
      object-fit: contain;
    }


    display: flex;
    align-items: center;

    p {
      padding: 0 25px;
      text-transform: uppercase;

    }
  }
  .delete-price {
    display: flex;
    a {
      margin-right: 25px
    }
  }
}

















