.baybe-card {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    height: 285px;
    width: 100%;
    // margin: 10px;
    object-fit: contain;
  }

  p {
    font-weight: 700;
    // Removes default margin
    margin: 0px;
    text-transform: uppercase;
    opacity: 0.5;
    color: $light-gray;
    transition: opacity 0.25s ease;
  }

  a:hover {
    opacity: 0.9;
    text-decoration: none;
  }
}

.baybe-price-card {
  width: 100%;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
  position: relative;

  img {
    width: 85%;
  }

  p {
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 700;
  }

  .fixed-price {
    position: absolute;
    top: 4%;
    left: 10%;
  }

  .fixed-brand {
    position: absolute;
    bottom: 4%;
    left: 10%;
    font-weight: 700;
    font-size: 24px;
  }

  .fixed-fav {
    position: absolute;
    top: 5%;
    right: 10%;
    opacity: 0.5;
    font-size: 24px;
  }
}


.baybe-carousel-card {
  width: 45%;
  height: 76vh;
  position: relative;

  img {
    height: 80%;
  }

  p {
    text-transform: capitalize;
    font-size: 24px;
  }

  .fa-chevron-left, .fa-chevron-right {
    position: absolute;
    top: 50%;
    // z-index: 1;
    // display: -webkit-box;
    opacity: 0.5;
    transition: opacity 0.25s ease;
    font-size: 24px;
  }
  .fa-chevron-left {
    left: 10%;
  }

  .fa-chevron-right {
    right: 10%;
  }

  .fa-chevron-right:hover, .fa-chevron-left:hover {
    // color: #fff;
    // text-decoration: none;
    // outline: 0;
    opacity: 0.9;
  }

  #product-price {
    position: absolute;
    top: -2%;
    left: 2%;
    opacity: 1;
    font-size: 6vh;
  }

  #savings {
    position: absolute;
    top: 6%;
    left: 2%;
    opacity: 1;
    font-size: 3vh;
    color: $blue;
    text-transform: none;
  }
}

.baybe-list-card {
  width: 100%;
  height: 115px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
      width: 85px;
      height: 85px;
      object-fit: contain;
      box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.1);
      padding: 2px;
  }

  p {
    // padding: 0 25px;
    text-transform: uppercase;
    margin: 0;
    opacity: 0.5;
    display: flex;
    align-items: baseline;

    &.right-info {
      width: 70%;
      justify-content: flex-end;
    }
  }

  .fa-trash-alt {
    color: red;
    opacity: 0.6;
  }

  .fa-trash-alt:hover {
    opacity: 1;
  }

  .baybe-list{
    display: flex;
    align-items: center;

    p {
      width: 46vh;
    }
  }
}

.box-info-row.saving-small {
    display: none;
  }


@media (max-width: 992px) {
  .baybe-list-card .baybe-list{
    p {
      width: 55vh;
    }
  }
}

@media (max-width: 576px) {
  .baybecontainer {
    .baybe-carousel-card, .product-info-right {
      width: 90%;
      margin: auto;

      .fixed-brand {
        position: absolute;
        top: 0%;
        right: auto;
      }
    }
  }

  .baybe-carousel-card{
    #product-price {
      top: auto;
      bottom: 6%;
    }

    #savings {
      top: auto;
      bottom: 8%;
      left: auto;
      right: 0%;
    }
  }

  .box-info-row .box-info-title.saving-big {
    display: none;
  }

  .box-info-row.saving-small {
    display: block;
  }

  .baybe-list p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .baybe-list-card .baybe-list{
    p {
      width: 35vh;
    }
  }
}

@media (max-width: 320px) {
  .baybe-list-card {
    display: block;

    p {
      width: 27vh;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &.right-info {
        width: 100%;
      }
    }
  }
}
