.all-categories {
  width: 85%;
}

.all-age {
  width: 70%;
}

.all-conditions {
  width: 62%;
}

.filter-bar {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;

  li a {
    color: $light-gray;
    opacity: 0.7;
    padding: 1vw;
    transition: opacity 0.25s ease;
  }
  li a:hover {
    opacity: 0.9;
  }
}

.filter-active-cat, .filter-active-con {
  font-weight: 700;
  text-decoration: underline !important;
  opacity: 0.9 !important;
}

.baybecontainer.filter-bar {
  margin-top: -20px;
}
