.footer {
  justify-content: center;
  margin-top: 20vh;
}

.footer-mail {
  align-items: center;
  width: 50%;

  a {
    color: $light-gray;
    text-decoration: underline;
    font-size: 12px;
    margin: 0 2% 0 2%;
  }
}


