.cards-grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (max-width: 768px) {
  .cards-grid {
      grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 320px) {
  .cards-grid {
      grid-template-columns: 1fr 1fr;
  }
}
