// -----navbar-------
.baybe-navbar {
  position: absolute;
  top: 0%;
  left: 0%;
  text-transform: lowercase;
  align-items: center;
  padding: 2% 4% 0% 6%;

  width: 100%;

  .baybe-logo img {
    width: 10vh;
    margin-right: 2vh;
    min-width: 80px;
  }

  .baybe-logo-sm {
    display:none;

    img {
      height: 4vh;
      margin-right: 2vh;
      min-height: 30px;
    }
  }

  .dropdown-item:hover {
    text-decoration: underline !important;
    background: none !important;
  }

  .nav-link {
      color: $light-gray !important;
      padding-right: 2vh !important;
      padding-left: 2vh !important;
  }

  .navbar-toggler {
    border: none;
    padding-left: 0 ;
  }

  .navbar-collapse {
    justify-content: space-between;
  }
}

.herobanner {
  .navbar {
    justify-content: normal !important;
  }
  .baybe-navbar {
    padding: 2% 0% 0% 6%;
  }
}

.navbar-right {
  // width: 50%;
  flex-grow: 1;
}

.cart {
  display: flex;
  padding-left: 4vh;
}

.navbar-collapse {
    position: static;
    float: none;
}


@media (max-width: 992px) {
  .navbar-nav {
    background: #ffffff7a;
    width: 30%;
    max-width: 200px;
    border-radius: 2px;
    position: absolute;
    left: 4%;
    top: 100%;
  }

  .navbar-collapse {
    flex-basis: auto;
    flex-grow: 0;
  }

  .navbar {
    justify-content: flex-start;
    flex-wrap: nowrap;
  }

  .navbar-right {
    width: 78%;
  }
}

@media (max-width: 768px) {
  .navbar-right {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .navbar-right {
    width: 60%;
  }

  .baybe-navbar {
    .baybe-logo-sm {
      display:block;
    }

    .baybe-logo {
      display:none;
    }
  }

  .herobanner .baybe-navbar .baybe-logo {
    display: block;
  }
}

// ------------------

.navbar-right {
  display: flex;
  align-content: center;
  align-items: center;

  .form-inline {
    margin-right: 20px;

    .searchbar {
      background-color: $light-blue;
    }
    .search {

      .form-group {
        margin: 0;
      }
    }
  }

  a {
    i {
      padding: 2%;
      font-size: calc(#{$bfs} * 5);
    }
  }

  p {
    margin: 0;
    margin-left: 6vh;
    font-size: calc(#{$bfs} * 4);
    color: #05A4C3;
    width: 1vh;
  }
}

.navbar-cart{
  .fa-shopping-cart:before {
    margin-right: 10px;
  }
}


// ------------------






.bg-w {
    background-color: white;
}

.relative {
  position: absolute;
  top: 0%;
  left: 0%;
}

.navbar-lewagon {
  a {
    text-transform: lowercase;
  }
  // NEST
  // a:hover {
  //   text-decoration: underline;
  // }

  .navbar-brand {
    font-size: calc(#{$bfs} * 6.5);
  }
  .navbar-brand:hover {
    text-decoration: none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
  margin-bottom: 10px;
}

.baybe-navbar {
  // display: flex;
  // justify-content: space-between;
  // height: 40px;

  .navbar-search, .navbar-cart {
    display: flex;
  }
}


// -----searchbar-------


// .search-form-control {
  // position: relative;
// }


// .search-form-control .btn {
//   position: absolute;
//   top: 1px;
//   bottom: 1px;
//   right: 1px;
//   background-color: $blue;
//   color: white;
//   height: 97%;

// }

// .search-form-control .form-control {
//   height: 2.4rem;
//   background-color: white;
//   width: 35rem;
//   border: none;

// }

// .search-form-control .form-control:focus {
//   border: 1px solid $blue;
//   outline: none !important;
//   box-shadow: 0 2px 6px rgba(0,0,0,0.08);
// }

// .searchbar {
//   border: none !important;
// }

// ----------------


.fa-box-open {
  width: 5vh;
}

.fa-baby-carriage {
  width: 5vh;
}

.selling {

  .searchbar {

  }
    .searchbar::placeholder {
      color: $red;
    }

  .buttonPrimarySearch {
    background-color: $red;
  }

  a {
    color: $red;

  }

  .navbar-right p {
    color: $red;
    width: 1vh;
  }
}



#show {
  background-color: $white;
  padding: 1vh;
  a {
    background-color: #ffffff6e;
  }
}
