// .home-page .navbar-lewagon {
//   background-color: none;
// }

.bg-w {
  background: white;
}

.navbar-lewagon {

  a {
    text-transform: lowercase;
  }
  // NEST
  a:hover {
    text-decoration: underline;
  }

  .navbar-brand {
    font-size: 46px;
  }
  .navbar-brand:hover {
    text-decoration: none;
  }

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.baybe-navbar {
  display: flex;
  justify-content: space-between;
  height: 40px;

  .navbar-login, .navbar-search, .navbar-cart {
    display: flex;
  }

// LE WAGON SEARCH CSS
.search-form-control {
  position: relative;

}

.search-form-control .btn {
  position: absolute;
  top: 1px;
  bottom: 1px;
  right: 1px;
  background-color: $blue;
  color: white;
  height: 97%;

}

.search-form-control .form-control {
  height: 3.5rem;
  background-color: $light-blue;
  width: 35rem;
  border: none;

}

.search-form-control .form-control:focus {
  border: 1px solid $blue;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}


.navbar-right {
  display: flex;
  align-content: center;
  align-items: center;

  i {
    padding: 2%;
    font-size: 2rem;
  }
  p {

  }
}

  .navbar-cart{
    .fa-shopping-cart:before {
      margin-right: 10px;
    }
  }

}
