.nicontainer {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
  text-align: center;

  // NOT SURE IF THIS SHOULD BE HERE
  .order {
    margin-top: 5%;
  }

  .order-title {
    // margin: 0 5% 0 5%;
  }
}
