<div class="herobanner">
  <div class="bcontainer">
    <h1>Your baby gets more</h1>
    <h1>You pay less</h1>
    <br>
    <%= render 'shared/searchbar' %>
  </div>
</div>

<br>
<br>
<h1 class="text-center">Categories</h1>
<div class="container">
  <div class="cards-grid">
    <% @categories.each do |category| %>
      <div class="baybe-card">
        <%= cl_image_tag category.photo %>
        <%= link_to category.description, category_path(category) %>
      </div>
    <% end %>
  </div>
</div>

