<nav class="navbar">
  <div class="container flex-column mb-4 mt-4">
    <div class="filter-bar all-categories justify-content-between">
      <%= link_to "All Categories",
          class: "navbar-text filter-active",
          products_path %>
      <% @categories.each do |category| %>
      <%= link_to category.description,
          class: "navbar-text",
          filt_cat_path(query: params[:query], cat: category.description),
          remote: true  %>
      <% end %>
    </div>

    <div class="filter-bar all-conditions">
      <%= link_to "All Conditions",
          class: "navbar-text filter-active",
          products_path %>
      <% @condition_groups.each do |condition| %>
      <%= link_to condition,
          class: "navbar-text",
          filt_con_path(query: params[:query], con: condition),
          remote: true  %>
      <% end %>
    </div>
  </div>
</nav>
