<%= render 'shared/filter_bar' %>

<!-- PRODUCTS CARDS -->
<div class="baybecontainer">
  <div class="cards-grid" id="cards-container">
    <%= render 'product_card_partial', products: @products %>
  </div>
</div>
<!-- --------------- -->
