<div class="container">
  <div class="cards-grid">
    <% @products.each do |product| %>
    <a href="<%= edit_product_path(product) %>">
      <div class="baybe-card baybe-price-card">
        <!-- <i class="fixed-fav far fa-heart"></i> -->
        <img src="<%= product.photo %>" alt="<%= product.name %>">
        <p class="fixed-brand">
          <%= product.brand %>
        </p>
      </div>
    </a>
    <% end %>
  </div>
</div>
