<div class="buy-product">
  <%= render 'shared/product_info', path: add_to_cart_path(@product) , text: "Add To Cart" %>
</div>


<!-- I KNOW SY, I'LL CHANGE IT LATER -->
<br>
<br>
<br>
<br>

<%= render 'shared/people_also_bought' %>
