.all-categories, .all-age, .all-conditions{
  text-transform: uppercase;

  p:first-of-type{
    text-decoration: underline;
    font-weight: bold;
  }
}



.product-info-right {
  width: 650px;

 .product-info-row {
    display: flex;

    .product-info-row-title {
      text-transform: uppercase;
      font-weight: bold;
      width: 40%;
    }
    .product-info-row-detail {
      width: 60%;
    }
  }
}


.buy-product {
  margin-bottom: 4rem;
}
