.all-categories, .all-age, .all-conditions{
  text-transform: uppercase;

  p:first-of-type{
    text-decoration: underline;
    font-weight: bold;
  }
}



.details {
  width: 55%;

 .product-name, .product-price,
 .stock-product-size, .condition-name,
 .stock-produc-color, .product-description {
  p{
    flex-grow: 1;
  }

  p:first-of-type {
    text-transform: uppercase;
    font-weight: bold;
  }
 }
}
