.cart-confirm-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 75%;


  // TO DO: Apply media queries to shrink text at breakpoints and remove max-width
  .your-cart {

  }

  .delivery-ino {

  }
}

